In [ ]:
!pip install datahelp==0.1.3

In [4]:
import datahelp as dh
import pkgutil

In [5]:
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score

In [6]:
df = pd.read_csv("data/iris.csv")

In [7]:
df.head()

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

In [8]:
modules_list = [name for _, name, _ in pkgutil.iter_modules(dh.__path__)]
print(modules_list)

['create_project', 'eda', 'feature_engineering', 'logger', 'modelling', 'utils', 'visualize']

In [9]:
from datahelp import eda

In [10]:
cats = dh.eda.get_cat_vars(df)
print(cats)

['species']

In [11]:
num_var = dh.eda.get_num_vars(df)
print(num_var)

['sepal_length', 'sepal_width', 'petal_length', 'petal_width']

In [12]:
cat_count = dh.eda.get_cat_counts(df)
cat_count

   Feature  Unique Count
0  species             3

In [17]:
missing = dh.eda.display_missing(df)
missing

              missing_count  missing_percent
sepal_length              0              0.0
sepal_width               0              0.0
petal_length              0              0.0
petal_width               0              0.0
species                   0              0.0